<link rel="stylesheet" href="/css/card.css">       
</head>
<div class="card" >
    <img src="" alt="">
    <div class="card-container">
        <div class="card-titulo"><%= movie.title %></div>
    </div>
   
</div>