<link rel="stylesheet" href="/css/header.css">

</head>

<header>  
    <div class="header">
        <div class="menu"> 
            <img id="logoImg" src="img/logo_free-file.png">
           <button class="buttonNav cinza-claro" onClick="menubar();"><img id="hamburger" src="img/hamburger-menu-solid-512.png"></img> </button>  
        </div>
        <div class="search">
            <input type="text" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" />           
        
        </div>
        <div> 
            <a class=" auth cinza-claro">Registre-se </a>     
            <a class=" auth cinza-claro">Login </a>
          
        </div>    

    </div>
    

</header>
<nav id="nav"></nav>

<script type ="text/javascript" src="javascript/header.js"> </script>

