<link rel="stylesheet" href="/css/home.css">
<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/header.ejs') %>

    <main>
        <section class="categorias">
            <div class="cardCategoria">
                <div class="circulo"></div>
                <button class="buttonClass">Filmes</button>
            </div>
            <div class="cardCategoria">
                <div class="circulo"></div>
                <button class="buttonClass">Livros</button>
            </div>
            <div class="cardCategoria">
                <div class="circulo"></div>
                <button  type="button" class="buttonClass">Séries</button>
            </div>
            
            
        </section>
      
        <section class = "ultimoslancamentos"> <h2>Ultimos Lançamentos</h2>
           <div class="ultimoslancamentos-cards"> 
                <% if (movies.length > 0) { %>
                
                    <% for (let movie of movies) { %>
                        <article>
                            <%- include('includes/card.ejs', {movie}) %>
                        </article>
                    <% } %>
                
                 <% } else { %>
                <h3>Nenhum filme encontrado</h3>
                <% } %>
                
            </div>
        </section>
    </main>
<%- include('includes/end.ejs') %>