<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/header.ejs') %>

    <main>
        <% if (movies.length > 0) { %>
            <div>
                <% for (let movie of movies) { %>
                    <article>
                   
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>Nenhum filme encontrado</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>