
.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

#hamburger {
    width: 30px;
    height: 40px;
    margin-left: 10px;
}
.search {
    width: 40%;    
}


input {
    color: white;
    padding-left: 10px;
    height:40px;
    width: 100%;
    background-color: #1A1918;
    border-radius: 4px;
    border-style: none;
    outline:none;
}

header {
    padding: 10px;
    margin: 0;
    background-color: #454443;
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;
    
    
}
.header {
    width: 90%;
    display: flex;
   
    justify-content: center;
    justify-content: space-between  ;
    align-items: center;
}

#logoImg {
background-color: #F58F00;
width: 40px;
height: 40px;
padding-left: 10px;
padding-top: 4px;
padding-bottom: 4px;
padding-right: 10px;
border-radius: 5px;
}

.buttonNav {
    outline: none;
    border: none;
    cursor: pointer;  
    outline: inherit;
}
.button {
    
    border-radius: 4px;
    
    border: none;
    color: #FFFFFF;
    text-align: center;
     font-size: 15px;
    
    height: 100%;
    cursor: pointer;  
    
    outline-style: none ;
  }
  
.cinza-claro {
    background-color: #454443;
}

 .button:hover {
    background-color:  #252525;
}

nav {   
    width: auto;
    height: 100px;
    background-color: #2b2a29;
    padding: 20px;
    display: none;
}

.auth {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 4px;
    color: #b8b6b4;
}
.auth:hover {
    color: #2b2a29;
    cursor: pointer;  
}

