
#page-home {
    align-items: center;
}

.ultimoslancamentos {   
    font-size: x-large;
    color: #FFFF;
    width: 70%;
    height: 350px;
    margin-top: 100px;


}
.ultimoslancamentos-cards {
    display: flex;
    flex-wrap: wrap;

}
.categorias {    
    width: 70%;
    height: 400px;
    background-color: #2e2d2d;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border-radius: 5px;

}

.circulo {
    width: 200px;
    height: 200px;

    border-radius: 100%; 
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;


}
.circulo img {
    height: 60%;
    width: 60%;
}
.cardCategoria {
    width: 33.333% ;
    height: 100% ;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
}

