.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.corpo form {
     margin-top: 40px;
}

.corpo h2 {
    text-align: center;
    color: black;
    padding: 20px 0;
}

.corpo h2::after {
    content: '';
    display: block;
    margin: 10px auto;
    border: 3px solid white;
    width: 25%;
}

.corpo input {
    display: block;
    margin: 10px auto;
    box-sizing: content-box;
    border: 2px solid #2E2D2D;
    color: white;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    padding: 1px 5px;
    font-size: 16pt;
    transition: .1s;
    outline: none;
    background-color: #2E2D2D;
    text-shadow: 10px;
}

.corpo input[type="text"]::placeholder,
.corpo input[type="password"]::placeholder {
    font-size: 15pt;
    color: #9E9D9B;
    background-color: #2E2D2D;
    text-indent: 10px;
}

.corpo input[type="submit"] {
    background-color: #F58F00;
    border: 2px solid #F58F00;
}

.auth-a {
padding: 5px;
text-decoration:underline;
color: #9E9D9B;
cursor: pointer;
}

.submit {
    cursor: pointer;
}
