:root {
  --primaryColor: #f58f00;
}

@font-face {
  font-family: 'Circular Std';
  src: url('https://cdn.jsdelivr.net/npm/@css-pkg/circular-std@2.0.0/fonts/CircularStd-Book.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@css-pkg/circular-std@2.0.0/fonts/CircularStd-Book.woff')
      format('woff');
}

@font-face {
  font-family: 'Circular Std';
  src: url('https://cdn.jsdelivr.net/npm/@css-pkg/circular-std@2.0.0/fonts/CircularStd-Bold.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@css-pkg/circular-std@2.0.0/fonts/CircularStd-Bold.woff')
      format('woff');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}



body {
  background: #1a1918;
  height: 100%;
  color: #fff;
  font-family: Circular Std;
}

.container {
  display: flex;
  justify-content: center;
  margin: 48px 0 0;
}

.content {
  max-width: 1216px;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  flex: 1;
}

h1 {
  font-size: 48px;
  line-height: 61px;
  font-weight: 400;
}

.body-m {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .body-m {
    font-size: 14px;
    line-height: 21px;
  }
}

.btn-primary {
  background: var(--primaryColor);
  border: 0;
  height: 44px;
  padding: 0 24px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:focus {
  outline: 0;
}

.btn-primary:hover {
  background: rgba(245, 143, 0, 0.9);
}

#page-details header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 64px;
  width: 100%;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

#page-details header .piece-info {
  display: flex;
  align-items: center;
  margin: 8px 0 24px;
  color: #b8b6b4;
}

.separator {
  height: 18px;
  margin: 0 8px;
  width: 1px;
  background: #b8b6b4;
}

.plot {
  display: flex;
  flex-direction: column;
}

.plot p {
  margin: 8px 16px 0 0;
  max-width: 590px;
  color: #b8b6b4;
  font-weight: 400;
}

@media (max-width: 1024px) {
  #page-details header {
    flex-direction: column;
    margin: 0 0 32px;
  }

  #page-details header .piece-info {
    display: flex;
    align-items: center;
    color: #b8b6b4;
    font-size: 12px;
    line-height: 18px;
  }

  #page-details header img {
    margin: 24px 0 0;
  }

  #page-details header.review-section button {
    margin: 16px 0 0;
  }
  
}

#page-details header.review-section {
  margin: 0 0 24px;
}


ul.reviews {
  list-style: none;
}

ul.reviews li {
  background: #2e2d2d;
  border-radius: 4px;
  padding: 16px;
  margin: 0 0 24px;
}

ul.reviews li .review-header {
  font-size: 16px;
  line-height: 24px;
}

ul.reviews li .review-info {
  display: flex;
  color: #b8b6b4;
  white-space: nowrap;
  margin: 4px 0 16px;
}

ul.reviews li p {
  color: #e4e5e6;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

@media (max-width: 1024px) {
  ul.reviews li .review-info {
    margin: 0 0 16px;
  }
}

.flex {
  display: flex;
}

.btnAmarelo {
  background-color: #F58F00;
  color: white;
}

.btnCinza {
  background-color: #454443;
  color: white;
}

.buttonClass{
  width: 150px ;
  height: 40px;
  border-radius: 5px;   
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.space-around {
    
  justify-content: space-between;
}